In [1]:
# Code for analyzing NFL big data bowl data (probably with Celia!!!)

In [13]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
from pathlib import Path
import nflDataFunctions as nfldf

pd.set_option('display.max_rows', 100)

In [7]:
games, players, plays, pffData = nfldf.loadData()
weekData = nfldf.loadWeek()

In [11]:
plays.iloc[7:15]

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
7,2018090600,402,(9:08) M.Ryan pass incomplete deep left to M.S...,1,1,10,ATL,play_type_pass,PHI,44,...,0.0,09:08:00,54.0,NaN,NaN,I,0,0,-0.429863,False
8,2018090600,492,(7:01) M.Ryan pass short left to T.Coleman pus...,1,2,13,ATL,play_type_pass,PHI,36,...,0.0,07:01:00,46.0,NaN,NaN,C,26,26,1.879804,False
9,2018090600,521,(6:19) M.Ryan pass short left to A.Hooper to P...,1,1,10,ATL,play_type_pass,PHI,10,...,0.0,06:19:00,20.0,NaN,NaN,C,3,3,0.045665,False
10,2018090600,545,(5:38) M.Ryan pass incomplete short left.,1,2,7,ATL,play_type_pass,PHI,7,...,0.0,05:38:00,17.0,NaN,NaN,I,0,0,-0.360976,False
11,2018090600,636,(5:07) (Shotgun) M.Ryan pass incomplete short ...,1,3,3,ATL,play_type_pass,PHI,3,...,0.0,05:07:00,13.0,NaN,NaN,I,0,0,-0.874640,False
12,2018090600,752,(3:46) (Shotgun) N.Foles pass short left to N....,1,2,4,PHI,play_type_pass,PHI,37,...,0.0,03:46:00,47.0,NaN,NaN,C,6,6,0.895417,False
13,2018090600,776,(3:06) (Shotgun) N.Foles sacked at PHI 36 for ...,1,1,10,PHI,play_type_sack,PHI,43,...,0.0,03:06:00,53.0,NaN,NaN,S,-7,-7,-0.980175,False
14,2018090600,839,(1:21) (Shotgun) N.Foles FUMBLES (Aborted) at ...,1,3,12,PHI,play_type_sack,PHI,41,...,0.0,01:21:00,51.0,NaN,NaN,S,-6,-6,-2.092108,False

In [20]:
plays.iloc[8]['playDescription']

'(7:01) M.Ryan pass short left to T.Coleman pushed ob at PHI 10 for 26 yards (R.McLeod).'

In [19]:
dfplay['x'].iloc[-2] - dfplay['x'].iloc[0]

-26.54

In [28]:
players

,nflId,height,weight,birthDate,collegeName,position,displayName
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell
...,...,...,...,...,...,...,...
1298,2553798,6-2,235,09/17/1991,Vanderbilt,LS,Andrew East
1299,2556814,6-2,200,05/17/1994,Duke,WR,Max McCaffrey
1300,2552576,78,231,1992-04-25,Oregon State,QB,Sean Mannion
1301,2561469,69,187,1993-03-15,Alabama-Birmingham,CB,Darious Williams
1302,2558095,6-2,196,10/12/1995,LSU,WR,Malachi Dupre

In [31]:
np.where(['Coleman' in name for name in players['displayName']])[0]

array([  22,  284,  556,  806,  871, 1156])

In [34]:
players[['displayName','position','nflId']].iloc[22]

displayName    Tevin Coleman
position                  RB
nflId                2552453
Name: 22, dtype: object

In [36]:
dfplay = weekData[0][(weekData[0]['gameId']==2018090600) & (weekData[0]['playId']==492) & (weekData[0]['team']=='football')]#(weekData[0]['nflId']==46206)]# & (weekData[0]['nflId']=='football')]
dfplay

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
6133,2018-09-07T01:24:28.799Z,46.01,23.90,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,1,football,2018090600,492,left,NaN
6147,2018-09-07T01:24:28.900Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,2,football,2018090600,492,left,NaN
6161,2018-09-07T01:24:29.000Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,3,football,2018090600,492,left,NaN
6175,2018-09-07T01:24:29.099Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,4,football,2018090600,492,left,NaN
6189,2018-09-07T01:24:29.200Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,man_in_motion,NaN,Football,NaN,NaN,5,football,2018090600,492,left,NaN
6203,2018-09-07T01:24:29.299Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,6,football,2018090600,492,left,NaN
6217,2018-09-07T01:24:29.400Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,7,football,2018090600,492,left,NaN
6231,2018-09-07T01:24:29.500Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,8,football,2018090600,492,left,NaN
6245,2018-09-07T01:24:29.599Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,9,football,2018090600,492,left,NaN
6259,2018-09-07T01:24:29.700Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,10,football,2018090600,492,left,NaN
6273,2018-09-07T01:24:29.799Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,ball_snap,NaN,Football,NaN,NaN,11,football,2018090600,492,left,NaN
6287,2018-09-07T01:24:29.900Z,46.01,23.89,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,12,football,2018090600,492,left,NaN
6301,2018-09-07T01:24:30.000Z,46.70,23.80,3.63,0.31,0.69,NaN,NaN,None,NaN,Football,NaN,NaN,13,football,2018090600,492,left,NaN
6315,2018-09-07T01:24:30.099Z,47.01,23.64,3.57,0.71,0.35,NaN,NaN,None,NaN,Football,NaN,NaN,14,football,2018090600,492,left,NaN
6329,2018-09-07T01:24:30.200Z,47.32,23.48,3.50,1.02,0.35,NaN,NaN,None,NaN,Football,NaN,NaN,15,football,2018090600,492,left,NaN
6343,2018-09-07T01:24:30.299Z,47.64,23.32,3.46,1.31,0.35,NaN,NaN,None,NaN,Football,NaN,NaN,16,football,2018090600,492,left,NaN
6357,2018-09-07T01:24:30.400Z,47.96,23.17,3.67,1.96,0.36,NaN,NaN,None,NaN,Football,NaN,NaN,17,football,2018090600,492,left,NaN
6371,2018-09-07T01:24:30.500Z,48.31,23.03,3.76,1.53,0.37,NaN,NaN,None,NaN,Football,NaN,NaN,18,football,2018090600,492,left,NaN
6385,2018-09-07T01:24:30.599Z,48.66,22.89,3.81,1.28,0.38,NaN,NaN,None,NaN,Football,NaN,NaN,19,football,2018090600,492,left,NaN
6399,2018-09-07T01:24:30.700Z,49.02,22.76,4.01,1.57,0.39,NaN,NaN,None,NaN,Football,NaN,NaN,20,football,2018090600,492,left,NaN
6413,2018-09-07T01:24:30.799Z,49.41,22.67,3.97,2.74,0.40,NaN,NaN,None,NaN,Football,NaN,NaN,21,football,2018090600,492,left,NaN
6427,2018-09-07T01:24:30.900Z,49.86,22.63,4.00,2.70,0.45,NaN,NaN,None,NaN,Football,NaN,NaN,22,football,2018090600,492,left,NaN
6441,2018-09-07T01:24:31.000Z,50.26,22.62,3.97,2.50,0.40,NaN,NaN,None,NaN,Football,NaN,NaN,23,football,2018090600,492,left,NaN
6455,2018-09-07T01:24:31.099Z,50.67,22.67,4.18,2.70,0.41,NaN,NaN,None,NaN,Football,NaN,NaN,24,football,2018090600,492,left,NaN
6469,2018-09-07T01:24:31.200Z,51.08,22.73,4.16,2.51,0.42,NaN,NaN,None,NaN,Football,NaN,NaN,25,football,2018090600,492,left,NaN
6483,2018-09-07T01:24:31.299Z,51.49,22.82,4.12,2.33,0.41,NaN,NaN,None,NaN,Football,NaN,NaN,26,football,2018090600,492,left,NaN
6497,2018-09-07T01:24:31.400Z,51.80,23.06,4.14,2.51,0.40,NaN,NaN,None,NaN,Football,NaN,NaN,27,football,2018090600,492,left,NaN
6511,2018-09-07T01:24:31.500Z,52.12,23.35,4.10,2.63,0.43,NaN,NaN,play_action,NaN,Football,NaN,NaN,28,football,2018090600,492,left,NaN
6525,2018-09-07T01:24:31.599Z,52.62,23.85,4.73,2.80,0.70,NaN,NaN,None,NaN,Football,NaN,NaN,29,football,2018090600,492,left,NaN
6539,2018-09-07T01:24:31.700Z,53.08,24.18,4.66,4.11,0.57,NaN,NaN,None,NaN,Football,NaN,NaN,30,football,2018090600,492,left,NaN
6553,2018-09-07T01:24:31.799Z,53.41,24.53,4.46,3.86,0.48,NaN,NaN,None,NaN,Football,NaN,NaN,31,football,2018090600,492,left,NaN
6567,2018-09-07T01:24:31.900Z,53.73,24.79,4.18,3.44,0.42,NaN,NaN,None,NaN,Football,NaN,NaN,32,football,2018090600,492,left,NaN
6581,2018-09-07T01:24:32.000Z,54.05,25.04,3.94,2.87,0.41,NaN,NaN,None,NaN,Football,NaN,NaN,33,football,2018090600,492,left,NaN
6595,2018-09-07T01:24:32.099Z,54.38,25.27,3.71,2.74,0.40,NaN,NaN,None,NaN,Football,NaN,NaN,34,football,2018090600,492,left,NaN
6609,2018-09-07T01:24:32.200Z,54.67,25.47,3.56,2.26,0.36,NaN,NaN,None,NaN,Football,NaN,NaN,35,football,2018090600,492,left,NaN
6623,2018-09-07T01:24:32.299Z,54.96,25.68,3.17,2.86,0.36,NaN,NaN,None,NaN,Football,NaN,NaN,36,football,2018090600,492,left,NaN
6637,2018-09-07T01:24:32.400Z,55.23,25.82,2.84,3.11,0.30,NaN,NaN,None,NaN,Football,NaN,NaN,37,football,2018090600,492,left,NaN
6651,2018-09-07T01:24:32.500Z,55.48,25.90,2.36,4.46,0.26,NaN,NaN,None,NaN,Football,NaN,NaN,38,football,2018090600,492,left,NaN
6665,2018-09-07T01:24:32.599Z,55.70,25.91,2.14,5.03,0.22,NaN,NaN,None,NaN,Football,NaN,NaN,39,football,2018090600,492,left,NaN
6679,2018-09-07T01:24:32.700Z,55.91,25.88,2.04,5.15,0.21,NaN,NaN,None,NaN,Football,NaN,NaN,40,football,2018090600,492,left,NaN
6693,2018-09-07T01:24:32.799Z,56.09,25.80,2.04,4.44,0.20,NaN,NaN,None,NaN,Football,NaN,NaN,41,football,2018090600,492,left,NaN
6707,2018-09-07T01:24:32.900Z,56.26,25.67,2.12,3.67,0.21,NaN,NaN,pass_forward,NaN,Football,NaN,NaN,42,football,2018090600,492,left,NaN
6721,2018-09-07T01:24:33.000Z,56.41,25.52,2.22,2.96,0.22,NaN,NaN,None,NaN,Football,NaN,NaN,43,football,2018090600,492,left,NaN
6735,2018-09-07T01:24:33.099Z,56.10,22.93,14.40,1.87,2.60,NaN,NaN,None,NaN,Football,NaN,NaN,44,football,2018090600,492,left,NaN
6749,2018-09-07T01:24:33.200Z,55.77,21.25,14.20,2.39,1.71,NaN,NaN,None,NaN,Football,NaN,NaN,45,football,2018090600,492,left,NaN
6763,2018-09-07T01:24:33.299Z,55.61,19.76,13.94,2.87,1.50,NaN,NaN,None,NaN,Football,NaN,NaN,46,football,2018090600,492,left,NaN
6777,2018-09-07T01:24:33.400Z,55.48,18.29,13.63,3.28,1.48,NaN,NaN,None,NaN,Football,NaN,NaN,47,football,2018090600,492,left,NaN
6791,2018-09-07T01:24:33.500Z,55.34,16.84,13.29,3.61,1.46,NaN,NaN,None,NaN,Football,NaN,NaN,48,football,2018090600,492,left,NaN
6805,2018-09-07T01:24:33.599Z,55.20,15.41,12.92,3.89,1.43,NaN,NaN,None,NaN,Football,NaN,NaN,49,football,2018090600,492,left,NaN
6819,2018-09-07T01:24:33.700Z,55.06,14.02,12.52,4.11,1.40,NaN,NaN,None,NaN,Football,NaN,NaN,50,football,2018090600,492,left,NaN
6833,2018-09-07T01:24:33.799Z,54.92,12.66,12.10,4.24,1.36,NaN,NaN,None,NaN,Football,NaN,NaN,51,football,2018090600,492,left,NaN
6847,2018-09-07T01:24:33.900Z,55.27,11.13,5.18,0.34,1.57,NaN,NaN,pass_arrived,NaN,Football,NaN,NaN,52,football,2018090600,492,left,NaN
6861,2018-09-07T01:24:34.000Z,54.86,10.86,5.07,1.89,0.49,NaN,NaN,None,NaN,Football,NaN,NaN,53,football,2018090600,492,left,NaN
6875,2018-09-07T01:24:34.099Z,54.42,10.60,4.98,1.95,0.51,NaN,NaN,None,NaN,Football,NaN,NaN,54,football,2018090600,492,left,NaN
6889,2018-09-07T01:24:34.200Z,54.01,10.33,4.92,1.58,0.49,NaN,NaN,None,NaN,Football,NaN,NaN,55,football,2018090600,492,left,NaN
6903,2018-09-07T01:24:34.299Z,53.61,10.05,4.79,1.32,0.49,NaN,NaN,None,NaN,Football,NaN,NaN,56,football,2018090600,492,left,NaN
6917,2018-09-07T01:24:34.400Z,53.21,9.80,4.81,0.98,0.48,NaN,NaN,None,NaN,Football,NaN,NaN,57,football,2018090600,492,left,NaN
6931,2018-09-07T01:24:34.500Z,52.79,9.54,4.99,0.48,0.49,NaN,NaN,None,NaN,Football,NaN,NaN,58,football,2018090600,492,left,NaN
6945,2018-09-07T01:24:34.599Z,52.34,9.27,5.20,0.51,0.52,NaN,NaN,None,NaN,Football,NaN,NaN,59,football,2018090600,492,left,NaN
6959,2018-09-07T01:24:34.700Z,51.87,9.01,5.44,1.35,0.54,NaN,NaN,None,NaN,Football,NaN,NaN,60,football,2018090600,492,left,NaN
6973,2018-09-07T01:24:34.799Z,51.38,8.75,5.54,1.39,0.55,NaN,NaN,pass_outcome_caught,NaN,Football,NaN,NaN,61,football,2018090600,492,left,NaN
6987,2018-09-07T01:24:34.900Z,50.86,8.50,5.76,1.52,0.58,NaN,NaN,None,NaN,Football,NaN,NaN,62,football,2018090600,492,left,NaN
7001,2018-09-07T01:24:35.000Z,50.30,8.24,6.26,2.14,0.62,NaN,NaN,None,NaN,Football,NaN,NaN,63,football,2018090600,492,left,NaN
7015,2018-09-07T01:24:35.099Z,49.69,7.96,6.65,2.17,0.66,NaN,NaN,None,NaN,Football,NaN,NaN,64,football,2018090600,492,left,NaN
7029,2018-09-07T01:24:35.200Z,49.07,7.69,6.91,1.93,0.68,NaN,NaN,None,NaN,Football,NaN,NaN,65,football,2018090600,492,left,NaN
7043,2018-09-07T01:24:35.299Z,48.42,7.43,7.08,1.60,0.70,NaN,NaN,None,NaN,Football,NaN,NaN,66,football,2018090600,492,left,NaN
7057,2018-09-07T01:24:35.400Z,47.74,7.15,7.36,1.39,0.73,NaN,NaN,None,NaN,Football,NaN,NaN,67,football,2018090600,492,left,NaN
7071,2018-09-07T01:24:35.500Z,47.04,6.87,7.67,1.44,0.76,NaN,NaN,None,NaN,Football,NaN,NaN,68,football,2018090600,492,left,NaN
7085,2018-09-07T01:24:35.599Z,46.30,6.57,8.00,1.58,0.79,NaN,NaN,None,NaN,Football,NaN,NaN,69,football,2018090600,492,left,NaN
7099,2018-09-07T01:24:35.700Z,45.55,6.27,8.13,0.92,0.81,NaN,NaN,None,NaN,Football,NaN,NaN,70,football,2018090600,492,left,NaN
7113,2018-09-07T01:24:35.799Z,44.78,5.99,8.22,0.50,0.82,NaN,NaN,None,NaN,Football,NaN,NaN,71,football,2018090600,492,left,NaN
7127,2018-09-07T01:24:35.900Z,44.00,5.68,8.38,0.17,0.84,NaN,NaN,None,NaN,Football,NaN,NaN,72,football,2018090600,492,left,NaN
7141,2018-09-07T01:24:36.000Z,43.19,5.37,8.62,0.28,0.87,NaN,NaN,None,NaN,Football,NaN,NaN,73,football,2018090600,492,left,NaN
7155,2018-09-07T01:24:36.099Z,42.36,5.06,8.85,0.50,0.89,NaN,NaN,None,NaN,Football,NaN,NaN,74,football,2018090600,492,left,NaN
7169,2018-09-07T01:24:36.200Z,41.53,4.76,8.88,0.74,0.89,NaN,NaN,None,NaN,Football,NaN,NaN,75,football,2018090600,492,left,NaN
7183,2018-09-07T01:24:36.299Z,40.69,4.48,8.95,1.01,0.89,NaN,NaN,None,NaN,Football,NaN,NaN,76,football,2018090600,492,left,NaN
7197,2018-09-07T01:24:36.400Z,39.84,4.19,9.04,0.81,0.90,NaN,NaN,None,NaN,Football,NaN,NaN,77,football,2018090600,492,left,NaN
7211,2018-09-07T01:24:36.500Z,38.96,3.91,9.23,0.87,0.92,NaN,NaN,None,NaN,Football,NaN,NaN,78,football,2018090600,492,left,NaN
7225,2018-09-07T01:24:36.599Z,38.08,3.64,9.26,1.09,0.93,NaN,NaN,None,NaN,Football,NaN,NaN,79,football,2018090600,492,left,NaN
7239,2018-09-07T01:24:36.700Z,37.17,3.41,9.30,1.68,0.93,NaN,NaN,None,NaN,Football,NaN,NaN,80,football,2018090600,492,left,NaN
7253,2018-09-07T01:24:36.799Z,36.25,3.19,9.39,1.68,0.95,NaN,NaN,None,NaN,Football,NaN,NaN,81,football,2018090600,492,left,NaN
7267,2018-09-07T01:24:36.900Z,35.32,2.97,9.56,1.21,0.96,NaN,NaN,None,NaN,Football,NaN,NaN,82,football,2018090600,492,left,NaN
7281,2018-09-07T01:24:37.000Z,34.37,2.75,9.64,0.78,0.97,NaN,NaN,None,NaN,Football,NaN,NaN,83,football,2018090600,492,left,NaN
7295,2018-09-07T01:24:37.099Z,33.41,2.53,9.80,0.51,0.99,NaN,NaN,None,NaN,Football,NaN,NaN,84,football,2018090600,492,left,NaN
7309,2018-09-07T01:24:37.200Z,32.44,2.32,9.83,0.60,0.99,NaN,NaN,None,NaN,Football,NaN,NaN,85,football,2018090600,492,left,NaN
7323,2018-09-07T01:24:37.299Z,31.48,2.12,9.82,0.83,0.99,NaN,NaN,None,NaN,Football,NaN,NaN,86,football,2018090600,492,left,NaN
7337,2018-09-07T01:24:37.400Z,30.52,1.91,9.74,1.22,0.98,NaN,NaN,None,NaN,Football,NaN,NaN,87,football,2018090600,492,left,NaN
7351,2018-09-07T01:24:37.500Z,29.57,1.71,9.63,1.51,0.97,NaN,NaN,None,NaN,Football,NaN,NaN,88,football,2018090600,492,left,NaN
7365,2018-09-07T01:24:37.599Z,28.62,1.52,9.59,1.51,0.97,NaN,NaN,None,NaN,Football,NaN,NaN,89,football,2018090600,492,left,NaN
7379,2018-09-07T01:24:37.700Z,27.69,1.32,9.55,1.51,0.96,NaN,NaN,None,NaN,Football,NaN,NaN,90,football,2018090600,492,left,NaN
7393,2018-09-07T01:24:37.799Z,26.74,1.13,9.57,1.39,0.97,NaN,NaN,None,NaN,Football,NaN,NaN,91,football,2018090600,492,left,NaN
7407,2018-09-07T01:24:37.900Z,25.81,0.94,9.44,1.66,0.95,NaN,NaN,None,NaN,Football,NaN,NaN,92,football,2018090600,492,left,NaN
7421,2018-09-07T01:24:38.000Z,24.88,0.75,9.37,1.69,0.95,NaN,NaN,None,NaN,Football,NaN,NaN,93,football,2018090600,492,left,NaN
7435,2018-09-07T01:24:38.099Z,23.96,0.56,9.30,1.72,0.94,NaN,NaN,None,NaN,Football,NaN,NaN,94,football,2018090600,492,left,NaN
7449,2018-09-07T01:24:38.200Z,23.04,0.37,9.21,1.72,0.93,NaN,NaN,None,NaN,Football,NaN,NaN,95,football,2018090600,492,left,NaN
7463,2018-09-07T01:24:38.299Z,22.15,0.19,9.14,1.25,0.92,NaN,NaN,None,NaN,Football,NaN,NaN,96,football,2018090600,492,left,NaN
7477,2018-09-07T01:24:38.400Z,21.26,0.00,9.05,1.38,0.91,NaN,NaN,None,NaN,Football,NaN,NaN,97,football,2018090600,492,left,NaN
7491,2018-09-07T01:24:38.500Z,20.36,-0.20,9.18,0.82,0.92,NaN,NaN,None,NaN,Football,NaN,NaN,98,football,2018090600,492,left,NaN
7505,2018-09-07T01:24:38.599Z,19.47,-0.39,9.08,1.21,0.91,NaN,NaN,out_of_bounds,NaN,Football,NaN,NaN,99,football,2018090600,492,left,NaN
7519,2018-09-07T01:24:38.700Z,18.58,-0.59,9.09,1.24,0.91,NaN,NaN,None,NaN,Football,NaN,NaN,100,football,2018090600,492,left,NaN

In [132]:
dfplay = weekData[0][(weekData[0]['gameId']==2021090900) & (weekData[0]['playId']==187) & (weekData[0]['nflId']==46206)]# & (weekData[0]['nflId']=='football')]
dfplay

          gameId  playId    nflId  ...       o     dir                  event
2243  2021090900     187  46206.0  ...  304.27  215.68               line_set
2244  2021090900     187  46206.0  ...  307.08  235.66                   None
2245  2021090900     187  46206.0  ...  308.03  277.04                   None
2246  2021090900     187  46206.0  ...  310.11  277.16                   None
2247  2021090900     187  46206.0  ...  301.52  270.42                   None
2248  2021090900     187  46206.0  ...  288.09  267.12              ball_snap
2249  2021090900     187  46206.0  ...  286.69  260.18                   None
2250  2021090900     187  46206.0  ...  274.39  260.41                   None
2251  2021090900     187  46206.0  ...  269.12  258.78                   None
2252  2021090900     187  46206.0  ...  263.80  257.89                   None
2253  2021090900     187  46206.0  ...  265.69  255.83                   None
2254  2021090900     187  46206.0  ...  265.69  255.66                   None
2255  2021090900     187  46206.0  ...  265.69  255.43                   None
2256  2021090900     187  46206.0  ...  261.62  254.01                   None
2257  2021090900     187  46206.0  ...  244.89  251.35                   None
2258  2021090900     187  46206.0  ...  234.82  250.09                   None
2259  2021090900     187  46206.0  ...  227.04  248.96                   None
2260  2021090900     187  46206.0  ...  207.87  246.55                   None
2261  2021090900     187  46206.0  ...  204.38  243.32                   None
2262  2021090900     187  46206.0  ...  196.65  241.13                   None
2263  2021090900     187  46206.0  ...  178.34  240.92                   None
2264  2021090900     187  46206.0  ...  156.92  240.82                   None
2265  2021090900     187  46206.0  ...  135.20  241.86                   None
2266  2021090900     187  46206.0  ...  124.53  243.85                   None
2267  2021090900     187  46206.0  ...  120.20  251.49                   None
2268  2021090900     187  46206.0  ...  120.20  263.20  autoevent_passforward
2269  2021090900     187  46206.0  ...  116.91  295.88                   None
2270  2021090900     187  46206.0  ...  113.45  337.89           pass_forward
2271  2021090900     187  46206.0  ...  112.58    3.82                   None
2272  2021090900     187  46206.0  ...  112.58   15.71                   None
2273  2021090900     187  46206.0  ...  110.57   18.89                   None

[31 rows x 16 columns]